:root {
  --lg-bg-color: rgba(255, 255, 255, 0.55);
  --lg-highlight: rgba(255, 255, 255, 0.75);
  /*--lg-text: #ffffff;*/
  --lg-red: #fb4268;
  --lg-grey: #444739;
}
/* 为.padding类添加玻璃效果 */
.padding {
  position: relative;
  border-radius: 3rem;
  overflow: hidden;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
  color: var(--lg-text);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
  padding: 2rem;
}
/* 玻璃效果层级 */
.padding::before,
.padding::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  pointer-events: none;
}
.padding::before {

  z-index: -2;
  backdrop-filter: blur(4px);
  filter: url(#customLensFilter) saturate(120%) brightness(1.15);

}
.padding::after {
  z-index: -1;
  background: var(--lg-bg-color);
  box-shadow: inset 1px 1px 0 var(--lg-highlight),
    inset 0 0 5px var(--lg-highlight);

}
/* 确保内容在玻璃效果之上 */
.padding > * {
  position: relative;
  z-index: 2;
}
.toprow{
   background-color:#eee;
   white-space:nowrap;
}
.toprow,.navbar .navbar-nav li a,.navbar-header .navbar-brand{
   #color:#fff;
}
.dropdown-menu,.navbar-default{
   #background-color:#79a3d5;
   #background-image: linear-gradient(to bottom, #323a81 0px, #79a3d5 100%);
   background-repeat: repeat-x;
   border-radius: 4px;
   box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15) inset, 0px 1px 5px rgba(0, 0, 0, 0.075);
}
.http_judge_form{
   white-space:nowrap;
}
.center{
   text-align: center
}
.mynav {
   margin-top: 20px
}
.panel-default{
   padding: 5px;
   background-image: url(../../image/background.jpg);
   border: 1px solid #eee;
   margin-top:50px;
}
.container .jumbotron{
   padding: 5px;
   background-image: url(../../image/background.jpg);
   border: 1px solid #eee;
   margin-top:50px;
}

h3.pagenav {
   margin-top: 5px;
   margin-bottom: 20px;
}

h3.pagenav div.item{
   padding: 4px;
   margin: 3px;
   font-size: 16px;
   border: 1px solid #eee;
   border-radius: 3px;
   display: inline-block;
   width: 30px;
}

h3.pagenav div.item:hover{
   background-color: #ddd;
   cursor: pointer;
}

h3.pagenav div.active{
   color: #888;
}
#problemset {
   margin-top: 20px;
}
.red{
  color:red;
}
.green{
  color:green;
}
.blue{
  color:blue;
}
.ui.segment, .ui.segments .segment{
   font-size:18px;
   line-height:28px;
}
